{% extends "base.html" %}

{% block  content %}
<h1>customer home test</h1>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">登出</button>
</form>

<hr class="my-4 border-dark">

<div>
    {% for restaurant in restaurants %}
    <div>
        <h3>{{ restaurant.name }}</h3>
        <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" width="200">
        <a href="{% url "restaurant" %}?restaurant_id={{restaurant.id}}">點餐</a>
    </div>
    {% endfor %}
</div>

<hr class="my-4 border-dark">
<div>
    <h2>購物車</h2>
    {% for cart in carts %}
        {% for  cart_item in cart.cart_items.all %}
            <div>
                <p>{{cart_item}}</p>
            </div>
        {% endfor %}
    {% endfor %}

    <form hx-post="" hx-target="#order-message" hx-swap="innerHTML">
        {% csrf_token %}
        <button type>送出</button>
    </form>

    <div id="order-message">可以送出訂單</div>
</div>

{% endblock content%}